<div  class="depContainer">

    <div  class="controllerClass" ng-controller="departmentViewController as depCtrl" >
        <div class="mainContent"  ng-show="depCtrl.showPage">

                <div class="panel panel-default" ng-show="depCtrl.containTable">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="tableId"></td>
                                <td class="tableDep">Department Name</td>
                                <td class="tableCreater">Created By</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="depRow" ng-repeat="dep in depCtrl.commonService.departmentList">
                                    <td ng-class-odd="'tableIdOdd'" ng-class-even="'tableIdEven'">
                                        <input type="radio" ng-model="depCtrl.rdbDepValue"  name="departmentName" ng-value='dep.depId'></radio>
                                    </td>
                                    <td ng-class-odd="'tableDep0dd'" ng-class-even="'tableDepEven'" >{{ dep.depName }}</td>
                                    <td ng-class-odd="'tableCreaterOdd'" ng-class-even="'tableCreaterEven'">{{ dep.createdBy }}</td>
                            </tr>
                        </tbody>
                        <tfoot class="tableFooter">
                            <tr>
                                <th colspan="3">
                                   <div class="tablesButtons">
                                        <button class="btn" ng-click="depCtrl.addStaff(depCtrl.rdbDepValue)">Add Staff</button>
                                        <button class="btn" ng-click="depCtrl.modifyStaff(depCtrl.rdbDepValue)">Modify Staff</button>
                                        <button class="btn" ng-click="depCtrl.modifyDepartemnt(depCtrl.rdbDepValue)">Modifiy Department</button>
                                        <button class="btn" ng-click="depCtrl.bulkAddStaff(depCtrl.rdbDepValue)">Bulk Add Staff</button>
                                    </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            <div class="tableContent" ng-show="!depCtrl.containTable">
                <span>No department created</span>
            </div>

        </div>  <!-- end of the mainContent class -->

        <div class="errorSupportContainer" ng-show="!depCtrl.showPage">
            <h4>{{ depCtrl.supportMessage }}</h4>
        </div>
    </div>  <!-- end of the controller class -->
</div> <!-- end of depContainer class -->
