<div class="form-group row white-bgr">
    <label class="col-xs-3 col-form-label">Full Name</label>
    <span ng-if="!form.fullName.$valid" class="required">*</span>
    <div class="col-xs-8">
        <input text="text"
               class="form-control"
               placeholder=" Enter full name"
               required="true"
               ng-change="ctrl.onChange()"
               name="fullName"
               ng-model="ctrl.user.fullName"
               ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
        <div class="message-help-block" ng-messages="form.fullName.$error" ng-if="form.fullName.$dirty">
            <span class="message-error-help" ng-message="required">Full name is required.</span>
        </div>
    </div>
</div>
<div class="form-group row grey-bgr">
    <label class="col-xs-3 col-form-label">Data of Birthday</label>
    <span ng-if="!form.dob.$valid" class="required">*</span>
    <div class="col-xs-8">
        <input text="text"
               class="form-control"
               placeholder=" Enter yyyy-mm-dd"
               date-validation="{ctrl:ctrl}"
               ng-change="ctrl.onChange()"
               ng-maxlength="10"
               required="true"
               name="dob"
               ng-model="ctrl.user.dob"
               ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
        <div class="message-help-block" ng-messages="form.dob.$error" ng-if="form.dob.$dirty">
            <span class="message-error-help" ng-message="required">Date of birthday is required.</span>
            <div class="form_error_messages" ng-message="dateValidation">{{ ctrl.dateErrorMessage }} </div>
            <div class="form_error_messages" ng-message="maxlength">The length too long. Format: yyyy-mm-dd</div>
        </div>
    </div>
</div>
<div class="form-group row white-bgr">
    <label class="col-xs-3 col-form-label">Starting day</label>
    <span ng-if="!form.startDate.$valid" class="required">*</span>
    <div class="col-xs-8">
        <input text="text"
               class="form-control"
               placeholder=" Enter yyyy-mm-dd"
               date-validation="{ctrl:ctrl}"
               ng-maxlength="10"
               ng-change="ctrl.onChange()"
               ng-required="true"
               name="startDate"
               ng-model="ctrl.user.startDay"
               ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
        <div class="message-help-block" ng-messages="form.startDate.$error" ng-if="form.startDate.$dirty">
            <span class="message-error-help" ng-message="required">Starting date is required.</span>
            <div class="form_error_messages" ng-message="dateValidation">{{ ctrl.dateErrorMessage }} </div>
            <div class="form_error_messages" ng-message="maxlength">The length too long. Format: yyyy-mm-dd</div>
        </div>
    </div>
</div>
<div class="form-group row grey-bgr">
    <label class="col-xs-3 col-form-label">Position</label>
    <span ng-if="!form.position.$valid" class="required">*</span>
    <div class="col-xs-8">
        <input text="text"
               class="form-control"
               ng-change="ctrl.onChange()"
               placeholder="Enter position"
               required="true"
               ng-maxlength="255"
               name="position"
               ng-model="ctrl.user.position"
               ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
        <div class="message-help-block" ng-messages="form.position.$error" ng-if="form.position.$dirty">
            <span class="message-error-help" ng-message="required">Position is required.</span>
        </div>
    </div>
</div>
<div class="form-group row white-bgr">
    <label class="col-xs-3 col-form-label">Email</label>
    <div class="col-xs-8">
        <input type="email"
               class="form-control"
               ng-change="ctrl.onChange()"
               placeholder="Enter optional email"
               ng-required="false"
               name="email"
               ng-maxlength="255"
               ng-model="ctrl.user.email"
               ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
        <div class="message-help-block" ng-messages="form.email.$error" ng-if="form.email.$dirty">
            <span class="message-error-help" ng-message="email">This is not a valid email.</span>
        </div>
    </div>
</div>
<div class="form-group row grey-bgr">
    <label class="col-xs-3 col-form-label">Comments</label>
    <div class="col-xs-8">
        <textarea
            rows="4"
            cols="50"
            class="form-control"
            placeholder="..."
            ng-required="false"
            name="comment"
            ng-model="ctrl.user.comment">
        </textarea>
    </div>
</div>